@import "../../css-config/mixins.scss";
.app-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100vh;
    z-index: 1;
    @include md{
        flex-direction: row;    
    }
}